---
  import type { TvSeriesPopularity } from "@/types/tvSeriesPopularity"
  import type { Serie } from "@/types/tvSeriesPopularity"
  import IconSearch from "@/icons/IconSearch.astro"
  import TvSerie from "./TvSerie.astro"
  import { getPosterPath } from "@/services/get_poster_img"


  const API_KEY = import.meta.env.SECRET_API_KEY
  const ACCESS_TOKEN = import.meta.env.SECRET_TOKEN_ACCESS


  const URL_TV_SERIES_POPULARITY = `https://api.themoviedb.org/3/tv/popular?api_key=${API_KEY}&language=es&page=9`
  const URL_IMG: string = 'https://image.tmdb.org/t/p/w500'

  const options = {
    method: 'GET',
    headers: {
      accept: 'application/json',
      Authorization: `Bearer ${ACCESS_TOKEN}`
    }
  }

  const response = await fetch(URL_TV_SERIES_POPULARITY, options)

  const tv_series = await response.json() as TvSeriesPopularity

  const series: Serie[] = tv_series.results.slice(6,9)

  const img = await Promise.all(series.map((serie) => getPosterPath(ACCESS_TOKEN, serie.id, "tv")));
  

---

<div class="flex flex-col gap-4 mt-16">
  <div class="inline-flex gap-2 py-2">
    <span class="text-zinc-400 font-Noto_Sans text-md px-1 py-1"><IconSearch/></span>
    <a href="#" class="font-Libre_Franklin text-white font-bold text-2xl hover:underline">Busca tus series favoritas</a>
  </div>
  <div class="relative flex gap-1 overflow-hidden">
    {
      series.map((serie, index) => (
        <TvSerie
        id={serie.id}
        name={serie.name} 
        url_image={URL_IMG + img[index]?.file_path} 
        overview={serie.overview}/>
      ))
    }
  </div>
</div>