---
  import type { Genre, ProductionCompany, Result, SpokenLanguage} from "@/types/dataIdMovieSelect"
  import { Image } from "astro:assets"
  import ItemInfoMovie from "./ItemInfoMovie.astro"

  interface Props {
    id: number | undefined
    title: string | undefined
    genres?: Genre[]
    language?: SpokenLanguage[]
    overview?: string
    poster_img: string | undefined
    production_companies?: ProductionCompany[]
    date?: Date
    duration?: number
    tagline?: string
    video?: Result[]
    rate?: number
  }

  const { id, title, genres, language, overview, poster_img, production_companies, date, duration, tagline, video, rate } = Astro.props
  

---


<section class="absolute w-full xl:h-full z-10">
  <div class="flex flex-col-reverse gap-5 xl:flex-row xl:gap-0 h-full">
    <div class="flex-grow flex flex-col justify-center mt-5 py-10 xl:mt-0 xl:py-0">
      <ItemInfoMovie
        id={id}
        title={title}
        genres={genres}
        language={language}
        overview={overview}
        production_companies={production_companies}
        date={date}
        duration={duration}
        tagline={tagline}
        video={video}
        rate={rate}
      />
    </div>
    <div class="flex-grow flex items-end justify-start pl-5 h-[500px] md:max-xl:pl-10 xl:pl-0 md:max-xl:justify-start xl:h-full xl:items-center xl:justify-center">
      <div class="relative min-[300px]:max-sm:w-[150px] sm:w-[200px] xl:w-[350px] 2xl:w-[360px] min-[1800px]:w-[450px] rounded-lg" transition:name=`movie box ${id}`>
        <Image
        transition:name=`movie image ${id}`
        class={"rounded-lg"}
        src={poster_img ?? ""}
        alt={title ?? "Sin titulo"}
        width={500}
        height={700}
        quality={"low"}
        />
      </div>
    </div>
  </div>
</section>
