---
  import { Image } from 'astro:assets';

  interface Props {
    id: number | undefined,
    name: string,
    overview: string,
    path_image: string,
    numberEpisode: number
    numberSeason: number
  }

  const {id, name, overview, path_image, numberEpisode, numberSeason} = Astro.props

  const urlName = name?.replace(/\s/g, "-") // Se cambia los espacios en blanco por -
  const urlNameChange = urlName.replace(/\./g, ''); // Se cambia los puntos por ""
---

<article class="relative w-full h-auto hover:bg-[#000112] xl:hover:bg-black/40">
  <a href=`/tv/series/${id}/season/${numberSeason}/episode/${numberEpisode}/${urlNameChange}` class="relative flex items-center gap-4 hover:bg-black/20 overflow-hidden px-10 py-2">
    <span class="text-xs text-gray-600 font-medium">{numberEpisode}</span>
    <Image
    class="rounded-md object-cover aspect-square w-10"
    src={path_image}
    width={92} height={92}
    alt={name ? name : "Sin descripción"}/>
    <div class="flex flex-auto flex-col">
      <h4 class="text-base text-white font-Libre_Franklin font-semibold">
        {name ? name: ""}
      </h4>
      <span class="text-[10px] text-gray-200 line-clamp-2 font-Noto_Sans max-w-xs">{overview ? overview : ""}</span>
    </div>
  </a>
</article>