---
  import SeasonEpisode from '@/components/astro/SeasonEpisode.astro'
  import type {DetailsSeriesSeason, Episode} from '@/types/dataSeriesSeasons'
  import BoxSeason from '../react/BoxSeason'
  import BoxSeasonEpisodes from '../react/BoxSeasonEpisodes'

  interface Props {
    id?: number
    title: string,
    overview: string,
    seasonNumber: number
  }

  const {id, title, overview, seasonNumber} = Astro.props
  
  const ACCESS_TOKEN = import.meta.env.SECRET_TOKEN_ACCESS

  const URL_SERIE_SEASONS_DETAILS = `https://api.themoviedb.org/3/tv/${id}/season/${seasonNumber}?language=es`
    
  const URL_IMG_POSTER = `https://image.tmdb.org/t/p/w92`

  const options = {
    method: 'GET',
    headers: {
      accept: 'application/json',
      Authorization: `Bearer ${ACCESS_TOKEN}`
    }
  }

  const response = await fetch(URL_SERIE_SEASONS_DETAILS, options)

  const seasons_detatils = await response.json() as DetailsSeriesSeason  
  

---


<div class="relative w-full h-auto transition duration-500 bg-[#000105] xl:bg-zinc-900/80">
  <BoxSeason seasonNumber={seasonNumber} idMovie={id} token={ACCESS_TOKEN} title={title} overview={overview} client:idle/>
  <BoxSeasonEpisodes seasonNumber={seasonNumber} client:visible>
    {
      seasons_detatils.episodes.map(episode =>(
        <SeasonEpisode id={id} name={episode.name} numberEpisode={episode.episode_number} numberSeason={episode.season_number} overview={episode.overview} path_image={URL_IMG_POSTER + episode.still_path}/>
      ))
    }
  </BoxSeasonEpisodes>
</div> 
