---

  interface Props {
    url: string
    title: string
  }

  const{ url, title } = Astro.props

  import Filters from "@/components/react/Filters"
  import type { Genders, MovieWithGenders } from "@/types/Genders"
  import type { Movies } from "@/types/dataMovie"
  import { getGendersMoviesList } from "@/services/get_genders"
  import { getGendersMovies } from "@/services/get_genders_list"
  import ShowMovie from "./ShowMovie.astro"
  import { getPosterPath } from "@/services/get_poster_img"


  const ACCESS_TOKEN = import.meta.env.SECRET_TOKEN_ACCESS


  const options = {
    method: 'GET',
    headers: {
      accept: 'application/json',
      Authorization: `Bearer ${ACCESS_TOKEN}`
    }
  };

  const response = await fetch(url, options)

  const movies = await response.json() as Movies

  const movie_gendersId = movies.results.map(movie => movie.genre_ids)

  const gendersList = await getGendersMoviesList(ACCESS_TOKEN) as Genders

  const listIdWithGender = await getGendersMovies(movie_gendersId, gendersList) as MovieWithGenders

  const img = await Promise.all(movies.results.map((movie) => getPosterPath(ACCESS_TOKEN, movie.id, "movie")));

---

<main class="relative w-full overflow-hidden pt-40">
  <div class="relative px-10 flex items-center flex-col xl:flex-row justify-between">
    <h1 class="text-white font-Libre_Franklin text-3xl text-center sm:text-left lg:max-xl:text-center xl:text-left md font-bold">{title}</h1>
    <div class="flex flex-wrap items-center pt-10 gap-10 justify-start lg:max-xl:justify-center xl:justify-start px-10 xl:pt-0">
      <Filters/>
    </div>
  </div>
  <div id="containerMovies" class="relative h-full mt-10">
    <div class="relative grid place-items-center grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-5 px-10 pb-20">
      {
        movies.results.map((movie, index) =>(
          <ShowMovie
            id={movie.id}
            url_image={img[index]?.file_path}
            title={movie.title}
            widht={500}
            height={700}
            genders={listIdWithGender}
            rate={movie.vote_average}
            index={index}
          />
        ))
      }
    </div>
  </div>
</main>


<style>
  
  #containerMovies::-webkit-scrollbar{
    width: 5px;
  }

  #containerMovies::-webkit-scrollbar-thumb{
    background-color: #003B07;
    border-radius: 10px;
  }

  #containerMovies::-webkit-scrollbar-track{
    background-color: #000105;
  }

</style>
