---
  import  type { MovieWithGenders } from "@/types/Genders"
  import { Image } from "astro:assets"
  import FooterMovie from "./FooterMovie.astro"

  interface Props {
    id: number
    url_image: string | undefined
    title?: string
    name?: string 
    widht: number
    height: number
    genders: MovieWithGenders
    rate: number
    index: number
    url?: string
  }

  const URL_IMG: string = 'https://image.tmdb.org/t/p/w500'

  const {id, url_image, title, name, widht, height, genders, rate, index, url} = Astro.props

  const urlTitle = title?.replace(/\s/g, "-").replace(/[.():]/g,"")
  const urlName = name?.replace(/\s/g, "-").replace(/[.():]/g,"")

  let endPoint

  if(!url) endPoint = `${id}/${urlTitle ?? urlName}` // Component Show More Movies

  if(url === "search") endPoint = `tv/series/${id}/${urlTitle ?? urlName}` // Page Result Search

  if (url === "movie") endPoint = `movie/${id}/${urlTitle ?? urlName}` // Page Result Search

  if (url === "tv") endPoint = `series/${id}/${urlTitle ?? urlName}` // Component Show More Movies
  


---



<article class="relative group rounded-lg overflow-hidden border border-zinc-900" transition:name=`box ${id}`>
  <a href=`${endPoint}`>
    {
      (url_image)
      ?
      <Image
      transition:name={`image ${id}`}
      class="cursor-pointer transition-transform duration-500 rounded-lg group-hover:scale-105"
      src={URL_IMG + url_image}
      alt={`${title ?? name}`}
      width={widht}
      height={height}
      quality={"low"}
      />
      :
      <div class="h-[500px] flex justify-center items-center">
        <span class="text-white font-Ubuntu text-xl font-bold text-center">Lo sentimos, no se encuentra una imagen para esta película.</span>
      </div>
    }
    <FooterMovie genders={genders} index={index} rate={rate}/>
    <div class="absolute inset-0 top-0 right-0 bg-gradient-to-t from-black translate-y-full transition-all duration-300 ease-linear group-hover:translate-y-0 cursor-pointer"></div>
  </a>
</article>