
---
import { Image } from "astro:assets";

import movie from '../../img/movie1.jpg'
---


<div class="flex flex-col gap-4">
  <div class="flex flex-col gap-2">
    <span class="font-Libre_Franklin text-white font-bold text-2xl">Series de TV</span>
    <span class="text-zinc-400 font-Noto_Sans text-md">¿Ya te viste alguna?</span>
  </div>
  <div class="relative flex w-full gap-2 overflow-x-hidden">
    <div class="relative overflow-hidden rounded-lg group">
      <Image src={movie} width={350} height={300} alt={"asasa"}/>
    </div>
    <div class="relative overflow-hidden rounded-lg group">
      <Image src={movie} width={350} height={300} alt={"asasa"}/>
    </div>
    <div class="relative overflow-hidden rounded-lg group">
      <Image src={movie} width={350} height={300} alt={"asasa"}/>
    </div>
    <div class="relative overflow-hidden rounded-lg group">
      <Image src={movie} width={350} height={300} alt={"asasa"}/>
    </div>
    <div class="relative overflow-hidden rounded-lg group">
      <Image src={movie} width={350} height={300} alt={"asasa"}/>
    </div>
    <div class="absolute top-0 right-0 bg-gradient-to-l from-black from-30% w-96 h-full flex justify-center items-center">
      <a href="#" class="border border-zinc-500 px-3 py-2 font-Noto_Sans text-white font-medium text-sm">Ver Más</a>
    </div>
  </div>
</div>